# Ignore editor temporary files.
*.swp

# Ignore Python virtual environment.
venv/

# Ignore pytest artifacts.
.pytest_cache/
__pycache__/

# Ignore coverage artifacts.
.coverage

# Ignore packaging artifacts.
dist/
*.egg-info/
